:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
  margin: 0;
}

p {
  color: #666;
}

#search-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#search {
  margin-bottom: 20px;
  display: flex;
}

#search-input {
  padding: 10px;
  width: 70%;
}

#search-button {
  padding: 10px;
  width: 28%;
  background-color: #333;
  color: #fff;
  border: none;
}

#search-button:hover {
  background-color: #444;
}

#search-results {
  margin-bottom: 20px;
}

#filters {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

#platforms {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem
}

.platform {
  margin-right: 10px;
}

.platform:last-child {
  margin-right: 0;
}

.platform input {
  margin-right: 5px;
}

.platform label {
  margin-right: 10px;
}

#preview {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.card {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
}

.card h3 {
  margin: 0;
}

.card button {
  margin-top: 10px;
}


#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.popup-content {
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.popup-close {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup-close:hover {
  background-color: #444;
}


#add-form,
#edit-form {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}